---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 6
templateEngineOverride: njk, md
---
> What day is it? It's today, squeaked Piglet. My favorite day, said Pooh.
{% include "postslist.njk" %}
This site is under construction. Please check back soon.
* #### [main website](https://www.parth.ninja)
